*{
	font-family: sans-serif;
}
#contenedor{
	width: 900px;
	margin: auto;
}
#cabecera{
	background-color: black;
	color: white;
	text-align: center;
	font-weight: bolder;
	font-size: 4em;
	text-transform: uppercase;
}
#columna1{
	width: 180px;
	float: left;
	padding: 10px;
	font-size: .8em;
}
#columna2{
	width: 880px;
	float: left;
	padding: 10px;
	border-left: dashed;
}
#pie{
	clear: both;
	background-color: grey;
	font-size: .8em;
	text-align: center;
	font-weight: bold;
}
